body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label {
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: inline-block;
  color: #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

select {
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 100%;
  color: #444;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}
